<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="http://code.jquery.com/jquery-1.7.0.js"></script>
</head>
<body>
<!--<form action="http://localhost:1234/login" method="post">-->
    <input type="text" placeholder="输入账号" ><br>
    <input type="password" placeholder="输入6-16位密码"><br>
    <input type="button" value="提交">
<!--</form>-->
<script>
    $(function () {
        var url = "http://o19q668562.iok.la:51776/login";
        // var url = "http://localhost:1234/addCart";
        // var url = "http://localhost:1234/register";
        // var url = "http://localhost:1234/register";
        $("input[type='button']").click(function () {
            var userName = $("input[type='text']").val();
            var passWord = $("input[type='password']").val();
            $.post(url,{userName:userName,passWord:passWord},function(res){
                alert(res.msg);
            })
        })

    })
</script>
</body>
</html>